<section class="w-full justify-center items-center py-10 h-full bg-gray-200">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="max-w-[500px] m-auto bg-white p-4 rounded-md"
  >
    <div class="mb-6">
      <input-form
        label="Usuario"
        [control]="form.controls.user"
        [controlError]="user.validateError"
        [required]="true"
      ></input-form>
    </div>

    <div class="mb-6">
      <input-form
        [control]="form.controls.password"
        [controlError]="password.validateError"
        label="Contraseña"
        inputType="password"
        [required]="true"
      ></input-form>
    </div>

    <app-button type="submit" class="w-full" styleButton="cifradoGreen" [isLoading]="load"
      >Ingresar</app-button
    >
  </form>
</section>
