<div class="w-full mx-auto">
  <div class="carousel-container">
    <div class="carousel-wrapper" #carouselWrapper>
      <div class="carousel-item">
        <img width="100%" height="100%"
          src="../../../../../assets/img/banner-home/cableadobanner.webp"
          alt="Cableado banner"
        />
      </div>
      <div class="carousel-item">
        <img width="100%" height="100%"
          src="../../../../../assets/img/banner-home/cctvbanner.webp"
          alt="CCTV banner"
        />
      </div>
      <div class="carousel-item">
        <img width="100%" height="100%"
          src="../../../../../assets/img/banner-home/mantbanner.webp"
          alt="Mantenimiento banner"
        />
      </div>
      <div class="carousel-item">
        <img width="100%" height="100%"
          src="../../../../../assets/img/banner-home/ptpbanner.webp"
          alt="ptp banner"
        />
      </div>
      <!-- Repite las imágenes para hacerlo infinito -->
      <div class="carousel-item">
        <img width="100%" height="100%"
          src="../../../../../assets/img/banner-home/cableadobanner.webp"
          alt="Cableado banner"
        />
      </div>
      <div class="carousel-item">
        <img width="100%" height="100%"
          src="../../../../../assets/img/banner-home/cctvbanner.webp"
          alt="CCTV banner"
        />
      </div>
      <div class="carousel-item">
        <img width="100%" height="100%"
          src="../../../../../assets/img/banner-home/mantbanner.webp"
          alt="Mantenimiento banner"
        />
      </div>
      <div class="carousel-item">
        <img width="100%" height="100%"
          src="../../../../../assets/img/banner-home/ptpbanner.webp"
          alt="ptp banner"
        />
      </div>
    </div>
  </div>
</div>
