<div class="w-full mx-auto">
  <div class="carousel-container">
    <div class="carousel-wrapper" #carouselWrapper>
      <div [class]="['carousel-item', 'zoom-image', 'relative']">
        <img width="100%" height="100%" [src]="image" [alt]="alt" />
      </div>
    </div>
    <div class="relative">
      <h2
        class="slide-in-out absolute -top-24 text-center w-full text-xl md:text-3xl lg:text-[40px] text-white font-montserrat font-extrabold"
      >
        {{ title }}
      </h2>
    </div>
  </div>
</div>
