<section class="w-full flex justify-center items-center h-auto gap-4 lg:gap-24">
  <picture class="w-40 h-40 hidden md:block">
    <img
      width="152"
      height="152"
      src="../../../../../assets/svgs/isotipo-cifrado.svg"
      alt="Isotipo Cifrado"
      loading="lazy"
    />
  </picture>
  <div class="font-montserrat px-6 content_banner">
    <h1 class="text-center font-extrabold text-3xl text-[#00A887] mb-8">
      SEGURIDAD - REDES - SISTEMAS
    </h1>
    <div class="max-w-[555px] text-justify font-normal leading-tight">
      <span class="text-[#0082cb] font-bold">CIFRADO</span> Somos una empresa que ofrece a nuestros clientes las mejores
      soluciones para el manejo de datos a través de la implementación de
      infraestructura de redes, sistemas de seguridad y soporte en sitio de la
      mejor calidad.
    </div>
  </div>
</section>
